@import './tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Anton:wght@400&family=Homenaje:wght@400&family=Instrument+Sans:wght@400;500;600;700&family=Kaisei+Decol:wght@400;500;700&family=Montserrat:wght@300;400;600;700&family=Open+Sans:wght@300;400;600;700&family=Oswald:wght@300;400;600;700&family=Oxygen:wght@300;400;700&display=swap');

body {
  font-family: 'Open Sans', 'Oxygen', 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}